body {
  background-image: url(“fundo.jpg”);
  margin: 0px;
  background-position:center
}
main {
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 30px;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 20px;
}

h4 {
  color: black;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 10px;
  text-align: center;}

  .navbar ul {
    list-style-type: none;
    background-color: rgb(218, 167, 59);
    padding: 0px;
    margin: 0px;
    overflow: auto;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: middle;
    text-align: center;
  }

  .navbar a:hover {
    background-color: darkgoldenrod;

  }

  #ronaldo-perfil {
    float: right; 
    margin-left: 10px;
  }

  #luciano-perfil {
    float: right; 
    margin-left: 10px;
  }

  #igorsaopaulo-perfil {
    float: right; 
    margin-left: 10px;
  }