body {
  background-color: gold;

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 30px;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 20px;
}

h4 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 10px;
  text-align: center;}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f555;
}

li, a, button {

}
header {
  display: flex;
  justify-content: space-between;
  align-itens: center;
  padding: 30px 10%;
}


}

#logo {
cursor: pointer;
}

#nav-links {
  list-style: none;
}

#nav-links li {
display: inline-block;
padding: 0px 20px
}

#nav-links {
  trasition: all 0.3s ease 0s;
}

#nav-links li a:hover{
  color: #fff8;
}

button {
  padding: 9px 25px;
  background-color: #f456;
  border: none
  border-radius: 50px;
  cursor-pointe: pointer;
  trasition: all 0.3s ease 0s;
}

button:hover {
  background-color: #fff5;
}
